newYork = #42FA1C
edmonton = #ff7300
vancouver = #ff2CA7
paris = #fff100

@import 'nib'

global-reset()

html
	width 100%
	height 100%
	box-sizing border-box

body
	width 100%
	height 100%
	padding 0
	margin 0
	box-sizing border-box

.logo
	position fixed
	z-index 999
	top 50%
	left 50%
	transform translate(-50%,-50%)
	text-align center

	img
		@media (min-width: 320px) and (max-width: 480px)
			width 60%

section
	width 100%
	height 100%
	z-index 100
	box-sizing border-box
	overflow-x hidden
	white-space nowrap
	padding 20px 0 20px 0
	cursor pointer

	img
		height 100%
.jack-img
	animation marquee 20s linear infinite;

.ny-img
	animation-delay 2s
	animation marquee 7s linear infinite;
.edmonton-img
	animation-delay 4s
	animation marquee 10s linear infinite;
.vancouver-img
	animation-delay 6s
	animation marquee 7s linear infinite;
.paris-img
	animation-delay 8s
	animation marquee 10s linear infinite;

@keyframes marquee {
  from {
    transform translateX(0)
  }
  to {
    transform translateX(-100%)
  }
}

.mast
	background #fff

.new-york
	background newYork

.edmonton
	background edmonton

.vancouver
	background vancouver
.paris
	background paris

.sc
	position fixed
	bottom 5%
	left 5%
	z-index 999
	width 30%
